@charset "utf-8";

:root{
  --main-font : 'pretendard';
  --sub-font : 'Mont';
  --main-color : #e70017;
}
body{
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.35;
  color: #000;
}
.inner{
  padding: 0 20px;
  max-width: 1640px;
  margin: auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 30px 0;
}
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 img{width: 200px; display: block;}

header .gnb{
  display: flex;
}
header .gnb > li{
  position: relative;
}
header .gnb > li > a{
  display: block;
  padding: 10px 40px;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}
header .gnb > li .depth2{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}
header .gnb > li .depth2 li a{
  display: block;
  padding: 3px 0;
  transition: all 0.5s;
}
header .gnb > li .depth2 li:hover a{
  color: var(--main-color);
}

header .ham{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url(../images/ham.svg) no-repeat center;
  font-size: 0;
  color: transparent;
  display: none;
}
header .mgnb-wrap{
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 80px 20px;
  background-color: #fff;
  z-index: 999;
  /*align-self: 999;*/
}
header .mgnb{
  border-top: 1px solid #000;
}
header .mgnb > li{
  padding: 15px 20px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 2rem;
}
header .mgnb > li .mdepth2{
  padding: 10px 0 0 20px;
}
header .mgnb > li .mdepth2 li a{
  color: #666;
  font-size: 1.6rem;
  display: block;
  padding: 3px 0;
}
header .mgnb-wrap .mgnb-close{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../images/close.png) no-repeat center;
  font-size: 0;
  color: transparent;
}

@media(max-width : 1024px){
  header h1 img{width: 150px;}
  header .gnb{display: none;}
  header .ham{display: block;}
}

/*main 공통*/
main h2{
  text-transform: capitalize;
  font-size: 7rem;
  font-family: var(--sub-font);
}

main .btn-more a{
  display: inline-block;
  padding: 10px 100px;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50px;
}
main .btn-more a:hover{
  background-color: var(--main-color); 
  transition: all 0.5s;
}

@media(max-width : 1200px){
  main h2{font-size: 5.5rem;}
}
@media(max-width : 576px){
  main h2{font-size: 4rem;}
  main .btn-more:hover a{padding: 10px 50px; font-size: 1.4rem;}
}

#banner .inner{
  height: 100vh;
  color: #fff;
  position: relative;
}
#banner .banner1{
  background: url(../images/banner1.png) no-repeat center / cover;
}
#banner .banner2{
  background: url(../images/banner2.jpg) no-repeat center / cover;
}
#banner .banner3{
  background: url(../images/banner3.png) no-repeat center / cover;
}
#banner .inner{
  height: 100vh;
}
#banner .banner-txt{
  position: absolute;
  left: 20px;
  bottom: 100px;
  line-height: 1.2;
}
#banner .banner-txt span{
  display: block;
  font-size: 3rem;
  padding: 30px 0 0;
}
#banner .swiper-button-prev, .swiper-button-next{color: #fff;}
#banner .swiper-pagination{
  top: auto;
  bottom: 50px;
  height: 2px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1600px;
}
#banner .swiper-pagination-progressbar-fill {
  background: #fff;
}
/*#banner .swiper-button-next, .swiper-button-prev{
  color: #fff;
}
#banner .swiper-pagination-progressbar, .swiper-pagination-progressbar-fil{
  position: absolute;
  top: 900px;
}*/

@media(max-width : 1200px){
  #banner .banner-txt{bottom: 150px;}
  #banner .banner-txt span{font-size: 2.5rem; padding: 20px 0;}
  .swiper-button-prev, .swiper-button-next{display: none;}
}
@media(max-width : 768px){
  #banner .banner1{
    background: url(../images/banner1_mo.png) no-repeat center / cover;
  }
  #banner .banner2{
    background: url(../images/banner2_mo.png) no-repeat center / cover;
  }
  #banner .banner3{
    background: url(../images/banner3_mo.png) no-repeat center / cover;
  }
  #banner .banner-txt{
    bottom: 100px;
  }
  #banner .banner-txt span{
    font-size: 2rem;
    padding: 10px 0;
  }
}


#menu{
  margin: 200px 0;
  text-align: center;
}
#menu .menu-list{
  margin-top: 50px;
}
#menu .menu-list img{
  width: 100%;
}
#menu .menu-list .swiper-slide{
  transform: scale(0.8);
  transition: transform 0.5s;
}
#menu .menu-list .swiper-slide-active{
  transform: scale(1);
}
#menu .menu-list strong{
  display: block;
  margin-top: 20px;
  font-size: 3rem;
}
#menu .menu-list span{
  display: block;
  color: var(--main-color);
  font-size: 2rem;
  margin: 5px 0;
  font-weight: 700;
}

@media(max-width : 1200px){
  #menu{margin: 150px 0;}
  #menu .menu-list strong{font-size: 2.5rem;}
  #menu .menu-list span{font-size: 1.5rem;}
}
@media(max-width : 768px){
  #menu{margin: 100px 0;}
  #menu .menu-list strong{font-size: 2rem;}
}

#brand .inner{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 50px;
  align-items: center;
}
#brand .brand-video{
  width: 65%;
}
#brand .brand-txt{
  width: calc(35% - 50px);
}
#brand .brand-video video{
  width: 100%;
  border-radius: 20px;
}
#brand p{
  font-size: 1.8rem;
  color: #999;
  padding: 0 0 30px;
}

@media(max-width : 1200px){
  #brand .inner > div{width: 100%; text-align: center;}
}
@media(max-width : 768px){}

#event{
  margin: 200px 0;
}
#event .inner{
  display: grid;
  grid-template-columns: 400px auto;
}
#event .event-txt{
  position: sticky;
  top: 50px;
  height: 200px;
}
#event .event-txt p{
  font-size: 1.8rem;
  color: #999;
}
#event .event-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#event .event-item img{
  width: 100%;
}
#event .event-item{
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 50px;
}
#event .event-item dl{
  padding: 30px;
  color: #999;
}
#event .event-item dl dt{
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
#event .btn-more{
  text-align: center;
}

@media(max-width : 1200px){
  #event{margin: 150px 0;}
  #event .inner{grid-template-columns: 1fr;}
  #event .event-txt{position: static; text-align: center; height: auto; margin-bottom: 50px;}
  #event .event-txt br{display: none;}
  #event .event-list > div:nth-child(3){display: none;}
  #event .event-list{grid-template-columns: 1fr 1fr;}
}
@media(max-width : 768px){
  #event{
    margin: 100px;
  }
  #event .event-list {
    grid-template-columns: 1fr;
  }
  #event .event-list > div:nth-child(2){display: none;}
}

#search{
  padding: 200px 0; 
  text-align: center;
  color: #fff;
  background: url(../images/search_bg.png) no-repeat center / cover;
}
#search .search-box{
  border-radius: 100px;
  height: 70px;
  background-color: #fff;
  display: flex;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}
#search .search-box input[type="text"]{
  width: calc(100% - 60px);
  padding: 0 30px;
  font-size: 2rem;
}
#search .search-box .search-btn{
  width: 60px;
  height: 60px;
  background: #000 url(../images/btn_search.png) no-repeat center;
  font-size: 0;
  color: transparent;
  border-radius: 50%;
}

@media(max-width : 1200px){
  #search{padding: 150px 0;}
}
@media(max-width : 768px){
  #search{padding: 100px 0;}
}

footer{
  padding: 100px 0;
  background-color: #000;
  font-size: 1.4rem;
  color: #fff;
}
footer .inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
footer .f-link{
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
}
footer .f-sns{
  display: flex;
  gap: 10px;
}
footer address{
  margin: 30px 0;
  color: #999;
}
footer .copy{
  color: #ccc;
}

@media(max-width : 768px){
  footer{padding: 50px 0;}
}
